@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Oswald:wght@300;400&display=swap');

:root {
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

header {
  background: linear-gradient(rgb(70, 157, 137), rgb(86, 171, 145));
}

.display-3 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
  color: white;
}

.lead {
  font-weight: 300;
  color: white;
}

#currentDay {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #121212;
  border-left: 1px solid #036666;
  padding: 10px;
  font-weight: 300;
  font-size: 1.2rem;
}

.hour {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #036666;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #e9c46a;
  color: white;
}

.future {
  background-color: #99E2B4;
  color: white;
}

.saveBtn {
  border-left: 1px solid #036666;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #248277;
  color: white;
}

.saveBtn:hover  {
  background-color: #469D89;
}

/* .saveBtn {
  outline: none;
} */

.deleteBtn:hover {
  color: #bc4749;
}